//variables
@c_0: #7579e7;
@c_1: #9ab3f5;
@c_2: #a3d8f4;
@c_3: #b9fffc;

.puzzle{
    width: 120px;
    border-left: 2px solid @c_0;
    border-bottom: 2px solid @c_0;
    cursor: pointer;
    transition: background-color 0.1s;
    &:hover{
        background-color: @c_1;
    }
}